{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <h1>{{ estate.address }}</h1>
    <img src="{{ estate.get_image_url }}" alt="{{ estate.address }}">

    <h3>Карта</h3>
    <img src="{{ map_image_url }}" alt="Карта для {{ estate.address }}">

    <h3>Характеристики</h3>
    <ul>
        <li><strong>Цена:</strong> {{ estate.cost }} $</li>
        <li><strong>Площадь:</strong> {{ estate.area }} м²</li>
        <li><strong>Категория:</strong> {{ estate.category }}</li>
    </ul>

    <h3>Описание</h3>
    <p>{{ estate.description }}</p>

    {% if user.client %}
        <h3>Оставить заявку</h3>
        {% if request_exists %}
            Вы уже отправили заявку на это объявление.
        {% else %}
            {% if form.errors %}
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="post" action="{% url 'create_request' estate.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Отправить заявку</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% else %}
<div>
    Чтобы просмотреть страницу, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.
</div>
{% endif %}
{% endblock %}