{% extends "base.html" %}
{% load static %}

{% block title %}Статистика продаж{% endblock %}

{% block content %}
<div>
    <h1>Статистика продаж</h1>

    {% if user.is_authenticated and user.is_superuser %}
    Сумма продаж
    <h3>Общая стоимость</h3>
    <ul>
        <li>
            <strong>Среднее:</strong> {{ cost_stats.mean_cost|floatformat:2 }} $
        </li>
        <li>
            <strong>Медиана:</strong> {{ cost_stats.median_cost|floatformat:2 }} $
        </li>
        <li>
            <strong>Мода:</strong> {{ cost_stats.mode_cost|floatformat:2 }} $
        </li>
    </ul>
    <h3>Сервисные сборы</h3>
    <ul>
        <li>
            <strong>Среднее:</strong> {{ service_stats.mean_cost|floatformat:2 }} $
        </li>
        <li>
            <strong>Медиана:</strong> {{ service_stats.median_cost|floatformat:2 }} $
        </li>
        <li>
            <strong>Мода:</strong> {{ service_stats.mode_cost|floatformat:2 }} $
        </li>
    </ul>
    Возраст клиентов
    <ul>
        <li>
            <strong>Средний возраст:</strong> {{ client_stats.mean_age|floatformat:1 }}
        </li>
        <li>
            <strong>Медиана возраста:</strong> {{ client_stats.median_age|floatformat:1 }}
        </li>
    </ul>
    Популярный тип недвижимости
    <img src="{{ chart_images.services_by_sold_count }}">

    <ul>
        <li>
            <strong>Категория:</strong> {{ popular_category|default:"Нет данных" }}
        </li>
        <li>
            <strong>Продажи:</strong> {{ popular_category.count }}
        </li>
    </ul>
    Сервисная прибыль
    <img src="{{ chart_images.services_by_service_profit }}">
    <ul>
        <li>
            <strong>Категория:</strong> {{ profitable_service|default:"Нет данных" }}
        </li>
        <li>
            <strong>Сумма:</strong> {{ profitable_service.total_service_cost|floatformat:2 }} $
        </li>
    </ul>
    Сотрудники: Стоимость услуг (последний месяц)
    <img src="{{ chart_images.employee_service_stats }}">
    {% for emp in employee_service_stats %}
    <p>
        <strong>{{ emp.user.get_full_name }}:</strong>
        {{ emp.total_service_cost|floatformat:2|default:"Нет данных" }} $
    </p>
    {% empty %}
    <p>Нет данных за последний месяц</p>
    {% endfor %}
    Сотрудники: Общая стоимость (последний месяц)
    <img src="{{ chart_images.employee_total_stats }}">
    {% for emp in employee_total_stats %}
    <p>
        <strong>{{ emp.user.get_full_name }}:</strong>
        {{ emp.total_cost|floatformat:2|default:"Нет данных" }} $
    </p>
    {% empty %}
    <p>Нет данных за последний месяц</p>
    {% endfor %}
    Наибольшая общая стоимость
    <img src="{{ chart_images.services_by_full_costs }}">
    <ul>
        <li>
            <strong>Категория:</strong> {{ highest_cost_service|default:"Нет данных" }}
        </li>
        <li>
            <strong>Сумма:</strong> {{ highest_cost_service.total_value|floatformat:2 }} $
        </li>
    </ul>
    {% else %}
    Доступ к статистике ограничен.
    {% endif %}
</div>
{% endblock %}