{% extends "base.html" %}

{% block title %}Удаление объекта недвижимости{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <div>
                <h4>Удаление объекта недвижимости</h4>
            </div>
            <div>
                <p>Вы уверены, что хотите удалить объект недвижимости по адресу:</p>
                <h5>{{ object.address }}</h5>

                <p>Цена: {{ object.cost }} $</p>
                <p>Площадь: {{ object.area }} м²</p>

                <form method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="токен">
                    <div>
                        <button type="submit">Удалить</button>
                        <a href="{% url 'estate_detail' object.pk %}">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}