{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h1>Наша команда</h1>
<div>
    {% for contact in contact_list %}
        <img src="{{ contact.photo.url }}" alt="{{ contact.name }}">
        <h5>{{ contact.name }}</h5>
        <h6>{{ contact.position }}</h6>
        <p>{{ contact.description }}</p>
        <ul>
            <li>{{ contact.phone }}</li>
            <li>{{ contact.email }}</li>
        </ul>
    {% empty %}
        В данный момент нет сотрудников
    {% endfor %}
</div>

{% endblock %}