{% extends "base.html" %}

{% block title %}Промокоды и акции{% endblock %}

{% block content %}
<div>
    <h3>Активные промокоды</h3>
    {% for promo in active_promos %}
        {{ promo.code }}
        <span>
            Скидка {{ promo.discount }}%
        </span>
        <p>{{ promo.description }}</p>
    {% empty %}
        В данный момент нет активных промокодов
    {% endfor %}

    <h3>Архивные промокоды</h3>
    {% for promo in archived_promos %}
        {{ promo.code }}
        <span>
            Скидка {{ promo.discount }}%
        </span>
        <p>{{ promo.description }}</p>
    {% empty %}
        Нет архивных промокодов
    {% endfor %}
</div>
{% endblock %}