<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Гарант недвижимость{% endblock %}</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Гарант недвижимость</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О компании</a></li>
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="{% url 'faq' %}">Словарь терминов</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
                <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'promo-codes' %}">Промокоды</a></li>
                <li><a href="{% url 'services' %}">Услуги</a></li>
                <li><a href="{% url 'estates' %}">Каталог</a></li>
            </ul>
        </nav>

        {% if user.is_authenticated %}
        {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
        <ul>
            <li><a href="{% url 'profile' user.profile.id %}">Профиль</a></li>
            <li><hr></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Панель управления</a></li>
                <li><hr></li>
                <li><a href="{% url 'statistics' %}">Статистика</a></li>
                <li><hr></li>
            {% elif user.client %}
                <li><a href="{% url 'client_dashboard' %}">Мои покупки</a></li>
                <li><hr></li>
            {% elif user.employee %}
                <li><a href="{% url 'employee_dashboard' %}">Мои клиенты</a></li>
                <li><hr></li>
            {% endif %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            </li>
        </ul>

        {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'signup' %}">Регистрация</a>
        {% endif %}

    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block pagination %}
        {% if is_paginated %}
            <nav>
                <ul>
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                                &laquo;
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <span>&laquo;</span>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li><span>{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li>
                                <a href="{{ request.path }}?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                                &raquo;
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <span>&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </nav>
        {% endif %}
    {% endblock %}

    <footer>
        <a href="{% url 'policy' %}">Политика конфиденциальности</a>
    </footer>
</body>
</html>