{% extends "lr3/index.html" %}
{% load static %}

{% block title %}График функции ln(1+x){% endblock %}

{% block extra_css %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1/dist/chartjs-plugin-annotation.min.js"></script>
{% endblock %}

{% block header_title %}График функции{% endblock %}

{% block content %}
<div class="chart-page">
    <h1 class="page-title">График функции ln(1+x)</h1>

    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <div class="controls">
        <button id="saveBtn" class="save-btn">Сохранить график</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}