{% extends "base.html" %}

{% block title %}Отзывы{% endblock %}

{% block content %}
<div>
    <h1>Отзывы наших клиентов</h1>

    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'add_review' %}">Добавить отзыв</a>
        {% else %}
            <a href="{% url 'login' %}?next={% url 'reviews' %}">Добавить отзыв</a>
            <div>
                Чтобы оставить отзыв, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.
            </div>
        {% endif %}
    </div>

    <div>
        {% for review in review_list %}
            <div>
                <div>
                    <div>
                        <a href="{% url 'profile' review.user.profile.id %}">
                            <span>{{ review.user.username }}</span>
                        </a>
                        <div>
                            {% for i in "12345" %}
                                {% if forloop.counter <= review.rating %}★{% else %}☆{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <p>{{ review.text }}</p>
                    <p>Дата: {{ review.created_at|date:"d.m.Y" }}</p>
                    <p>Последнее обновление: {{ review.updated_at|date:"d.m.Y" }}</p>

                    {% if user.is_authenticated and user == review.user %}
                    <div>
                        <a href="{% url 'edit_review' review.id %}">Редактировать</a>
                        <form method="post" action="{% url 'delete_review' review.id %}">
                            {% csrf_token %}
                            <button type="submit">Удалить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Пока нет отзывов.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}