{% extends "base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div >
    <h1>Политика конфиденциальности</h1>

    {% for policy in policy_list %}
    <div class="policy-section">
        <div class="policy-content">
            {{ policy.text|linebreaks }}
        </div>
    </div>
    {% empty %}
    <div class="policy-section">
        <h3>Политика конфиденциальности</h3>
        <p>Информация о политике конфиденциальности будет добавлена в ближайшее время.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}