{% extends "base.html" %}

{% block title %}Вакансии{% endblock %}

{% block content %}
<h1><strong>Вакансии</strong> в нашей компании</h1>

<div class="vacancies">
    {% if vacancy_list %}
        <section>
            {% for vacancy in vacancy_list %}
                <div class="job-card">
                    <h4 class="job-position"><u>{{ vacancy.position }}</u></h4>
                    <div class="job-salary"><b>{{ vacancy.salary }}</b></div>
                    <div class="job-desc"><small>{{ vacancy.description|linebreaks }}</small></div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </section>
    {% else %}
        <p><s>В данный момент открытых вакансий нет</s></p>
    {% endif %}
</div>
{% endblock %}
